/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    background-image: url("/static/images/bkkk.jpg");
    background-color: #1a1a1a;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #f0f0f0;
    transition: background-color 0.3s, color 0.3s, background-image 0.3s;
}

/* Header Styles */
h1 {
    font-family: Copperplate, Papyrus, fantasy;
    color: #87ceeb;
    text-align: center;
    margin-bottom: 20px;
}

/* Image Styles */
img {
    display: block;
    max-width: 300px;
    height: auto;
    margin: 0 auto 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Content Styles */
p, ul {
    background-color: rgba(51, 51, 51, 0.8);
    border: 1px solid #5b5b5b;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


h2 {
    color: #87ceeb;
    margin-top: 30px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 5px;
}

/* Utility Classes */
strong {
    color: #87ceeb;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    img {
        max-width: 100%;
    }
}