body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
  }
  
  h1, h2 {
    color: #ffffff;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border: 2px solid #5cacee;
    display: block;
    max-width: 300px;
    height: auto;
    margin: 0 auto 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #333333;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    margin-top: 1em;
  }
  
  h2 {
    border-bottom: 2px solid #444444;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
  }
  
  ul li {
    color: #d0d0d0;
  }
  
  a {
    color: #1e90ff;
  }
  .btn {
    background-color: rgb(11, 10, 10);
    color: #5cacee; 
    padding: 12px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px;
    cursor: pointer; 
    transform: scale(1.05);
}
  a:hover {
    text-decoration: underline;
  }
  
  h3 {
    background-color: #5f5f5f;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
  }
  