<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Trackers</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Groupie Trackers</h1>
        
    </header>

    <section class="artists-grid">
        {{range .Artists}}
        <div class="artist-card">
            <img src="{{.Image}}" alt="{{.Name}}">
            <h2>{{.Name}}</h2>
            <p><strong>Members:</strong> {{range .Members}}{{.}}, {{end}}</p>
            <p><strong>First Album:</strong> {{.FirstAlbum}}</p>
        </div>
        {{end}}
    </section>
</body>
</html>
