<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/style/style.css">
    <title>Music-Brainz</title>
</head>

<body>
    <nav>
        <div class="nav-container">
            <a class="logo">Music-Brainz</a>
            <div class="nav-sections">
                <a href="/" class="nav-link">home</a>
                <a href="/#artist-section" class="nav-link">artists</a>
                <a href="" class="nav-link">about-us</a>
            </div>
        </div>
    </nav>
    <section class="about-us">
        <div class="container-section" style="width: 65%;">
            <div class="box">
                <div class="about">
                    <h1>About Us</h1>
                    <p> Welcome to <span>Music-Brainz</span>, your go-to platform for exploring the journeys of
                        artists,
                        their music,
                        and live performances. We are passionate about bringing music lovers closer to their favorite
                        artists by providing a detailed look at the essential elements that define their careers.
                    </p>
                </div>
                <div class="mission">
                    <h1>Our Mission</h1>
                    <p>At <span>Music-Brainz</span>, our mission is to provide fans with comprehensive insights into their
                        favorite artists, including their band members, concert dates, first albums, and the places
                        that
                        have marked their careers. We aim to be the most reliable source for fans to track concerts
                        and
                        learn about the stories behind the music.
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>